body {
  background-color: white;
  color: #bcbcbc;
}
.navbar {
  border-bottom: 2px solid black;
}
.navbar a {
  color: black;
}


sidebar {
  position: fixed;
  left: 0;
  top: 0;
  padding: 50px 0 0 0 !important;
  background: #464647;
  height: calc(100vh );
  width: inherit;
  overflow-y: auto;
  border-right: 2px solid black; }
  sidebar .playlist-item {
  margin-left: 10px;
  padding-left:10px; }
  sidebar::-webkit-scrollbar{
    width: 10px;
    background-color: #222; }
  sidebar::-webkit-scrollbar-thumb{
    background-color: black;
    -webkit-border-radius: 1ex; }
  sidebar .logo {
    width: 100%;
    padding: 15px; }
  sidebar section > * {
    padding: 0 15px; }
  sidebar .menu-item {
    transition: border-left, 0.2s; }
    sidebar .menu-item a {
      color: #c8c8c8; }
      sidebar .menu-item a:hover {
        color: white; }
    sidebar .menu-item.active, sidebar .menu-item:hover {
      border-left: 3px solid #00bc8c; }

      footer {
        position: fixed;
        background-color: #303030;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 56px;
        border-top: 1px solid #222;
        border-bottom: 1px solid #222;
        padding: 8px; }
        footer .bar {
          overflow: hidden;
          padding: 9px; }
        footer .progress {
          cursor: pointer; }
        footer .progress-bar {
          transition: none !important; }

          .rightFooter {
            position: fixed;
            left: auto;
            right: 0;
            top: 0;
            padding: 50px 0 0 0 !important;
            background: #101010;
            height: calc(100vh - 56px);
            width: inherit;
            overflow-y: auto;
            border-right: 2px solid #555;
          }

      hr {
        margin: 0 7px 0 7px;
      }
.well {
  background-color: lightgrey;
}
legend {
  border-bottom: 1px solid black;
}
label.control-label{
  color: black;
}
.well button{
  color: black;
  /*font-weight: bold;*/

}

#slider {
  padding-bottom: 10px;
}
